<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<h1>Organization:</h1>
<% if @selected_organization %>
  <p>You selected: <%= @selected_organization.name %></p>
<% else %>
  <p>No organization selected.</p>
<% end %>
