.post-container{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 30%;
    height: 100%;
}
.post-container p{
text-align: start;
}
.post-link:hover{
    opacity:0.3;
}